<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/main.css">
  <title>Chuyển Đổi Hình Ảnh Sang Văn Bản</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
<div class="header">

<i class="material-icons">account_circle</i>
<Text class="text_header">Trang Web Thực Hiện Đề Tài Xây dựng web nhận dạng văn bản tiếng Việt dựa trên mã nguồn mở Tesseract.</Text>

</div>
  <div class="section">
    <div class="container">
      <h1 class="section-heading">Chuyển Đổi Hình Ảnh Sang Văn Bản</h1>
      <h6 class="section-heading">Trích xuất văn bản từ hình ảnh và chuyển đổi nó sang các định dạng Word, PDF, TXT có
        thể chỉnh sửa.
        <br> OCR Scanner để đọc văn bản từ JPG và các định dạng hình ảnh khác
      </h6>
      <p><a href="https://github.com/VnMinhDz">Lepucius</a> - Đã Đăng Kí Bản Quyền @2022</p>
      <form method="POST" action="/upload" enctype="multipart/form-data">
      <!--Enctype= multipart/form-data chính là một loại mã hóa cho phép tất cả các tệp có thể gửi được qua POST.
       Nếu như không có loại mã hoá này thì các tệp sẽ không thể thực hiện gửi được qua POST-->
        <input type="file" name="image" accept="image/*" />
<!--image/*nên bắt tất cả các hình ảnh. -->
        <button class="button-primary">Tải Lên</button>
      </form>
    </div>
  </div>

  </div>

<div class="noidung">
<div class="noidung1">
  <p class="text_1">
    Ngôn ngữ gốc của tập tin của bạn
Để đạt được kết quả tốt nhất, hãy chọn tất cả các ngôn ngữ có trong file của bạn.
</p>
</div>
<div class="noidung2">
  <p class="text_2">
Chuyển đổi hình ảnh thành văn bản. Trích xuất văn bản từ hình ảnh , ảnh chụp và các hình ảnh khác. Trình chuyển đổi OCR miễn phí này cho phép bạn lấy văn bản từ tập tin hình ảnh và chuyển nó thành tập tin TXT văn bản thuần túy.

Hiện tại chúng tôi hỗ trợ chuyển đổi tập tin có định dạng hình ảnh thành văn bản sau: JPG thành văn bản, PNG thành văn bản, TIFF thành văn bản, SVG thành văn bản, BMP thành văn bản, WEBP thành văn bản, và nhiều hơn nữa!
</p>
</div>
</div>

  <footer>
    <div class="DIV_1">
      <h5 class="H5_5">
        Góc trả lời
      </h5>

      <p class="P_6">
        Nếu các bạn có gì thắc mắc thì liên hệ mình qua những mạng xã hội sau đây nhé!
      </p>

      <ul class="UL_7">
        <li class="LI_8">
          <a title="Trang Facebook" href="https://www.facebook.com/phamvanminh111" id="A_9"><img alt="icon facebook"
              src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/icon-facebook%20%281%29.png"
              id="IMG_10" /></a>
        </li>
        <li class="LI_11">
          <a title="Trang Twitter" href="https://twitter.com/minhxinhvclla?t=ReGpWwP5DWzdJ4FNoUQqKQ&s=09" id="A_12"><img alt="icon twitter" width="96"
              src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/twitter.png" id="IMG_13" /></a>
        </li>
        <li class="LI_14">
          <a title="Địa Chỉ Gmail" href="https://accounts.google.com/b/0/AddMailService" id="A_15"><img alt="icon gmail"
              width="96" src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/gmail.png" id="IMG_16" /></a>
        </li>
      </ul>
      <hr class="HR_17" />
      <p class="P_18">
        © 2022 Thực hiện bởi:
        <br>
        Phạm Văn Minh
        <br>
        Đặng Cao Minh

      </p>
    </div>
  </footer>
</body>
</html>