<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="css/main.css">
  <title>Kết quả</title>
</head>

<body>
  <div class="header">

<i class="material-icons">account_circle</i>
<Text class="text_header">Trang Web Thực Hiện Đề Tài Xây dựng web nhận dạng văn bản tiếng Việt dựa trên mã nguồn mở Tesseract.</Text>

</div>
  <div class="section">
    <div class="container">

      <h1 class="section-heading">Kết quả</h1>
      <div>
        <p><a href="https://github.com/VnMinhDz">@Lepucius</a>-Đã Đăng Kí Bản Quyền @2022</p>
        <p class="index">{{text}}</p>

        <!--Handlebars.js-->
        <button type="button" onclick="quay_lai_trang_truoc()">Quay lại trang trước</button>

        <script>
          function quay_lai_trang_truoc() {
            history.back();
          }
        </script>
      </div>


    </div>
  </div>
  </div>

  <footer>
    <div class="DIV_1">
      <h5 class="H5_5">
        Góc trả lời
      </h5>

      <p class="P_6">
        Nếu các bạn có gì thắc mắc thì liên hệ mình qua những mạng xã hội sau đây nhé!
      </p>

      <ul class="UL_7">
        <li class="LI_8">
          <a title="Trang Facebook" href="https://www.facebook.com/phamvanminh111" id="A_9"><img alt="icon facebook"
              src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/icon-facebook%20%281%29.png"
              id="IMG_10" /></a>
        </li>
        <li class="LI_11">
          <a title="Trang Twitter" href="https://twitter.com/minhxinhvclla?t=ReGpWwP5DWzdJ4FNoUQqKQ&s=09" id="A_12"><img alt="icon twitter" width="96"
              src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/twitter.png" id="IMG_13" /></a>
        </li>
        <li class="LI_14">
          <a title="Địa Chỉ Gmail" href="https://accounts.google.com/b/0/AddMailService" id="A_15"><img alt="icon gmail"
              width="96" src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/gmail.png" id="IMG_16" /></a>
        </li>
      </ul>
      <hr class="HR_17" />
      <p class="P_18">
        © 2022 Thực hiện bởi:
        <br>
        Phạm Văn Minh
        <br>
        Đặng Cao Minh

      </p>
    </div>
  </footer>
</body>

</html>